<article>
    <div class="jumbotron">
     <div class="container spaces">
         <div class="d-flex justify-content-end">
         <a href= "/scrape"><button type="button" class="scrape-btn btn btn-info">Scrape Cracked</button></a>
         <button type="button" class="json-btn btn btn-info">Cracked JSON</button>
         </div>

     </div>

    </div>
</article>

  {{#unless blog}}
  <article class="alert alert-danger">
    <h1 class="p-3">
      Looks like you haven't scraped the web yet.
    </h1>
    <h2 class="p-3 mb3">
      Scrape Craked by clicking the button "Scrape Cracked"
    </h2>
  </article>
  {{/unless}}

  {{#if blog}}



  {{/blog}}