<article>
    <div class="jumbotron">
     <div class="container spaces">
         <div class="d-flex justify-content-end">
         <button type="button" class="scrape-btn btn btn-info">Scrape Cracked</button>
         <button type="button" class="json-btn btn btn-info">Cracked JSON</button>
         </div>

     </div>

    </div>
</article>