.navbar-brand > img {
    height: 100px;
    width: 100px;
}

.jumbotron {
    background-image: url('../image/blog-success.jpeg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.scrape-btn,
.deleteArticles-btn {
    margin: 5px;
}

.comment {
    border-radius: 5px;
    padding: 5px;
}

.content-item {
    cursor: pointer;
}

.comment-title {
    letter-spacing: 1.5px;
}

.card-img {
    height: 100%;
}

.save-active {
    color: #24a0ed !important;
}

.comment-submit {
    margin-top: 10px;
}

.wrapper {
    max-height: 500px;
    overflow: scroll;
}

.comment-section {
    min-height: 300px;
    max-height: 500px;
    max-width: 500px;
    word-wrap: break-word;
    overflow: auto;
}

.spin {
    border-radius: 50%;
    border: 16px solid #0042a4;
    border-radius: 50%;
    border-top: 16px solid #3775cf;
    border-right: 16px solid #619bee;
    border-bottom: 16px solid #96bff9;
    border-left: 16px solid #c9e0ff;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        background-image: none;
    }
    .save-btn {
        width: 100%;
        margin-top: 10px;
    }
}
