
.navbar-brand > img {
    height:100px;
    width: 100px;
}

.jumbotron {
    background-image: url("../image/blog-success.jpeg");
    background-size: auto 100%;
    background-repeat: no-repeat;    
}

.scrape-btn, .deleteArticles-btn {
    margin:5px;
}

.comment {
    border-radius: 5px;
    padding: 5px;
}

.content-item {
    cursor: pointer;
}

.comment-title {
    letter-spacing: 1.5px;
}

.card-img {
    height:100%;
}



.comment-submit {
    margin-top:10px;
}

.wrapper {
    max-height:500px;
    overflow: scroll;
}

.comment-section {
    min-height: 300px;
    max-height: 500px;
    max-width: 500px;
    word-wrap: break-word;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        background-image: none;
    
    }
    .save-btn {
        width:100%;
        margin-top: 10px;
    }
  }